[submodule "lib/submodules/opaz-plugdk"]
	path = lib/submodules/opaz-plugdk
	url = git://github.com/thbar/opaz-plugdk.git
[submodule "lib/submodules/irbivore"]
	path = lib/submodules/irbivore
	url = git@github.com:aquabu/irbivore.git
[submodule "lib/submodules/scruby"]
	path = lib/submodules/scruby
	url = git://github.com/maca/scruby.git
[submodule "chuckr"]
	path = chuckr
	url = git://github.com/lian/chuckr.git
[submodule "lib/submodules/chuckr"]
	path = lib/submodules/chuckr
	url = git://github.com/lian/chuckr.git
